/*
 * DataSection css File
*/

.dataBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

  border-radius: 12px;
  border: 1px solid rgba(242, 238, 217, 0.7);
  background-color: #f4f1e1;
  box-shadow: inset -5px -5px 5px #f5f3e5, inset 5px 5px 6px #d8d7ca;
}

.dateBox {
  font-size: 1.2rem;
  color: #404040;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.city {
  font-size: 1.8rem;
  color: #404040;
  font-weight: 700;
}

.country {
  display: block;
  font-size: 1.2rem;
  color: #404040;
  font-weight: 500;
  margin-top: 0.5rem;
}
