/*
 * SearchBar css File
*/
* {
  box-sizing: border-box;
}
.searchBox {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.searchBtn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchBar {
  display: block;
  width: 100%;
  padding: 1rem;
  font-family: "DM Sans";
  font-size: 1.2rem;
  color: #666666;
  border-radius: 12px;
  border: 1px solid rgba(242, 238, 217, 0.7);
  background-color: #f4f1e1;
  box-shadow: inset -5px -5px 5px #f5f3e5, inset 5px 5px 6px #d8d7ca;
  transition: 0.2s ease-out;
}

.searchBox .searchBar:focus {
  background-color: #f8f7f1;
  outline: none;
  caret-color: salmon;
}

.searchBar.cold {
  background-color: #e1eff4;
  border: 1px solid rgba(217, 236, 242, 0.7);
  box-shadow: inset -5px -5px 5px #e5f2f5, inset 5px 5px 6px #cad5d8;
}

.searchBox .cold:focus {
  background-color: #f1f7f8;
  caret-color: steelblue;
}
