/*-----Mis estilos------*/
body {
  background-color: #fafafa;
}

.main {
  background-image: url(../src/assets/sun.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f1edda;
  position: relative;

  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1.5rem;
  transition: 0.4s ease-out;
}

.main.cold {
  background-image: url(../src/assets/snowflake.png);
  background-color: #daebf1;
}
