/*-----Mis estilos------*/

@keyframes bgAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.main {
  background-image: url(../src/assets/sun.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f1edda;
  position: relative;

  width: 100%;
  min-height: 100vh;
  padding: 1.5rem;
  transition: 0.4s ease-out;
}

.main.cold {
  background-image: url(../src/assets/snowflake.png);
  background-color: #daebf1;
}
