/*-----Mis estilos------*/
body {
  background-color: #fafafa;
}

.main {
  position: relative;
  background-color: #f8f7f1;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1.5rem;
  transition: 0.4s ease-out;
}

.main.warm {
  background-color: #f1edda;
}

.main.cold {
  background-color: #daebf1;
}
